* {
    box-sizing: border-box;
}

/* this set the block to be hyperlink instead of just the word themselves */
li a{
    display: block;
}

/* this removes the underline from the hyperlinks */
a {
    text-decoration: none;
}

.mainBodyWrapper {

    background: purple;
}

.mainHeader {
    background: blue;
    color: white;
}

.mainContent {
    margin: 0 auto;
    padding-bottom: 10px;
}

.mainFooter {
    background: yellow;
}

.container_one {
    /* width: 30%; */
    background-color: blueviolet;
    
}

.container_two {
    /* width: 30%; */
    background-color:#32e9e9;
}

.container_three {
    /* width: 30%; */
    background-color:#e99a86;
}

.container_all_title {
    font-style: italic;
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

.container_all {
    margin-top: 15px;
    padding: 0.50em;
}

.mainHeaderContent {
    background: chocolate;
    border: 1px red solid;

}

.mainHeaderInfo {
    text-align: center;
    border: 1px red solid;
}

.mainHeaderNav {
    /* float: right; */
    /* border: 1px red solid;
    margin: 1em; */
}

.mainHeaderNav li {
    /* display: inline-block; */
    /* margin-left: 10px; */
     /* padding: 5px 15px; */
    /* width: 150px; */   

    background: aqua;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

.mainHeaderIcon {
    /* float: left; */
}

.mainHeaderIcon p {
    font: bold;
    font-size: 4em;
    text-align: center;
}

.mainContent h1 {
    font-style: italic;
    /* font-size: 3em; */
    text-align: center;
    padding: 10px 5px;
}

h1, 
h2, p {
    margin: 0;
    /* padding: 0; */
    
}


.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/* .main-nav {
    float: right;
}

.main-nav li {
    display: inline-block;
    margin-left: 15px;
} */


/*******  Media Queries ********/

@media (min-width: 500px) {
    
    .mainContent {
        background-color: royalblue;
        
    }
}

@media (min-width: 930px) {

    .mainContent {
        background-color: green;
        width: 90%;
    }

    .container_all {
        margin: 15px;
    }

    .mainHeaderIcon {
        float: left;
    }

    .mainHeaderNav {
        float: right;
        border: 1px red solid;
        margin: 1em;
    }

   .mainHeaderNav li {
        display: inline-block;
        margin-left: 10px;
        padding: 5px 15px;
        width: 150px;   
    }

    
}